@charset "UTF-8";
/**
 * RPA projects
 * @auther Hsu lay
 * @since 2018/10
 * @version 2.0
 */
@import url("./layouts.css");
@import url("./skins/skin-green.css");

 /* iconfont */
::-webkit-scrollbar{
    display:none;
}
@font-face {
    font-family: 'iconfont';
    src: url('../../iconfont/iconfont.eot');
    src: url('../../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../iconfont/iconfont.woff') format('woff'),
    url('../../iconfont/iconfont.ttf') format('truetype'),
    url('../../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    /* font-size:14px; */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont.success{
    color: #29e075;
}
.iconfont.falil{
    color: #f0e226;
}
.iconfont.normal{
    color: #53baff;
}
.iconfont.danger{
    color: #db2222;
}
.iconfont.confirm{
    color: #b8d845;
}
/* iconfont end */

/** globla */
html,
body {
    height: 100%;
}
body {
    background: #f1f4f6;
    font-size: 13px;
}
body.is-dialog {
    background: #fff;
}
.selection {
    position: absolute;
    border: 1px solid #8B9;
    background-color: #BEC;
}
.main-header .logo,
.main-header .navbar {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.main-header .navbar {
    position: relative;
}
.bootstrap-dialog .modal-dialog {
    /*width: 70%;*/
    max-width: 885px;
}
a:hover,a:active,a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}
/*iOS兼容*/
html.ios-fix,
html.ios-fix body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.wrapper {
    height: 100%;
}
#header {
    background: #fff;
}
#firstnav {
    height: 50px;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
}
#firstnav .sidebar-toggle {
    position: absolute;
    width: 45px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
#firstnav .nav-addtabs {
    position: absolute;
    left: 45px;
    z-index: 98;
}
#firstnav .navbar-custom-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background: transparent;
}
.content-wrapper {
    position: relative;
    height: 100%;
}
/*手机版样式*/
@media (max-width: 480px) {
    #firstnav .navbar-custom-menu ul li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #firstnav .navbar-nav > .user-menu .user-image {
        margin-top: -3px;
    }
    .fixed-table-toolbar .columns-right.btn-group {
        display: none;
    }
    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 50px;
    }
    .multiplenav .fixed .content-wrapper,
    .multiplenav .fixed .right-side {
        padding-top: 94px;
    }
    .multiplenav .content-wrapper,
    .multiplenav .right-side {
        padding-top: 94px;
    }
    .main-sidebar,
    .left-side {
        padding-top: 144px;
    }
}
/*平板样式*/
@media (max-width: 768px) {
    body .wrapper .main-header .logo {
        background: none;
        color: #fff;
        border-bottom: 0 solid transparent;
        position: absolute;
        top: 0;
        z-index: 1200;
        width: 130px;
        left: 50%;
        margin-left: -65px;
    }
    body .sidebar .mobilenav a.btn-app {
        color: #444;
        width: 100px;
        height: 70px;
        font-size: 13px;
    }
    body .sidebar .mobilenav a.btn-app i.fa {
        font-size: 24px;
    }
    body .sidebar .mobilenav a.btn-app span {
        margin-top: 5px;
        display: block;
    }
    body .sidebar .mobilenav a.btn-app.active {
        color: #222d32;
    }
    body .wrapper .main-header .navbar .dropdown-menu li > a {
        color: #333;
    }
    body .wrapper .main-header .navbar .dropdown-menu li > a:hover {
        background: #eee;
    }
    body .wrapper .main-header .navbar .dropdown-menu li.active > a {
        color: #fff;
    }
    body .wrapper .main-header .navbar .dropdown-menu li.active > a:hover {
        background: #222d32;
    }
    .main-sidebar,
    .left-side {
        padding-top: 94px;
    }
    .n-bootstrap .n-right {
        margin-top: 0;
        top: -20px;
        position: absolute;
        left: 0;
        text-align: right;
        width: 100%;
    }
    .n-bootstrap .n-right .msg-wrap {
        position: relative;
    }
    .n-bootstrap .col-xs-12 > .n-right .msg-wrap {
        margin-right: 15px;
    }
}
/*修复radio和checkbox样式对齐*/
.radio > label,
.checkbox > label {
    margin-right: 10px;
}
.radio > label > input,
.checkbox > label > input {
    margin: 2px 0 0;
}
.wipecache li a {
    color: #444444 !important;
}
/*修正开关关闭下的颜色值*/
.btn-switcher.disabled {
    opacity: .6;
    cursor: not-allowed;
}
.btn-switcher .text-gray {
    color: #d2d6de !important;
}